@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  span {
    @apply font-medium text-muted-foreground;
  }
}

/* image {
  @apply flex h-full w-fit object-cover;
} */

.underline-gradent::after {
  content: "";
}

.underline-gradent::after {
  @apply absolute bottom-1 left-0 flex h-[2px] rounded-full bg-gradient-to-l from-red-600 to-blue-600 transition-all duration-200 ease-in-out;
}

::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #4b515b;
}

::-webkit-scrollbar-thumb:hover {
  background: #5c636e;
}

.circle-1 {
  -webkit-animation: circle-1-keyframes 13s ease-in-out infinite alternate;
  animation: circle-1-keyframes 13s ease-in-out infinite alternate;
}

.circle-1,
.circle-2 {
  will-change: transform;
}

.circle-2 {
  -webkit-animation: circle-2-keyframes 8s ease-in-out infinite alternate;
  animation: circle-2-keyframes 8s ease-in-out infinite alternate;
}

.circle-3 {
  will-change: transform;
  -webkit-animation: circle-3-keyframes 18s ease-in-out infinite alternate;
  animation: circle-3-keyframes 18s ease-in-out infinite alternate;
}
@-webkit-keyframes circle-1-keyframes {
  to {
    transform: translateX(200px) translateY(50px);
  }
}

@keyframes circle-1-keyframes {
  to {
    transform: translateX(200px) translateY(50px);
  }
}

@-webkit-keyframes circle-2-keyframes {
  to {
    transform: translateX(300px) translateY(-25px);
  }
}

@keyframes circle-2-keyframes {
  to {
    transform: translateX(300px) translateY(-25px);
  }
}

@-webkit-keyframes circle-3-keyframes {
  to {
    transform: translateX(250px) translateY(25px);
  }
}

@keyframes circle-3-keyframes {
  to {
    transform: translateX(250px) translateY(25px);
  }
}
